<div class="mobile-nav">
    <div class="mobile-nav-wrapper">
        <ul class="mobile-side-menu">
            <li><a href="demo-shop-12.html">Home</a></li>
            <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Fashion <span class="tip tip-new">New</span></a>

                <ul>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Women</a>
                        <ul>
                            <li>
                                <a href="#">Tops &amp; Blouses</a>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                            </li>
                            <li>
                                <a href="#">Dresses &amp; Skirts</a>
                            </li>
                            <li>
                                <a href="#">Shoes &amp; Boots</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Men</a>

                        <ul>
                            <li>
                                <a href="#">Accessories</a>
                            </li>
                            <li>
                                <a href="#">Watch &amp; Fashion <span class="tip tip-new">New</span></a>
                            </li>
                            <li>
                                <a href="#">Tees, Knits &amp; Polos</a>
                            </li>
                            <li>
                                <a href="#">Pants &amp; Denim</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Jewellery <span class="tip tip-hot">Hot</span></a>

                        <ul>
                            <li>
                                <a href="#">Sweaters</a>
                            </li>
                            <li>
                                <a href="#">Heels &amp; Sandals</a>
                            </li>
                            <li>
                                <a href="#">Jeans &amp; Shorts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Kids Fashion</a>

                        <ul>
                            <li>
                                <a href="#">Casual Shoes</a>
                            </li>
                            <li>
                                <a href="#">Spring &amp; Autumn</a>
                            </li>
                            <li>
                                <a href="#">Winter Sneakers</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Pages <span class="tip tip-hot">Hot!</span></a>

                <ul>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Category</a>
                        <ul>
                            <li>
                                <a href="demo-shop-12-category-2col.html">2 Columns</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-3col.html">3 Columns</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-4col.html">4 Columns</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-5col.html">5 Columns</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-6col.html">6 Columns</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-7col.html">7 Columns</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-8col.html">8 Columns</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-right-sidebar.html">Right Sidebar</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-list.html">Category List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Category Banners</a>
                        <ul>
                            <li>
                                <a href="demo-shop-12-category-banner-boxed-slider.html">Boxed slider</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-banner-boxed-image.html">Boxed Image</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-category-banner-fullwidth.html">Fullwidth</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Product Details</a>
                        <ul>
                            <li>
                                <a href="demo-shop-12-product-details.html">Product Details 1</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-product-details2.html">Product Details 2</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-product-details3.html">Product Details 3</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-product-details4.html">Product Details 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="demo-shop-12-cart.html">Shopping Cart</a>
                    </li>
                    <li>
                        <a href="demo-shop-12-checkout.html">Checkout</a>
                    </li>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Loign &amp; Register</a>
                        <ul>
                            <li>
                                <a href="demo-shop-12-login.html">Login</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-register.html">Register</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a href="#">Dashboard</a>
                        <ul>
                            <li>
                                <a href="demo-shop-12-dashboard.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="demo-shop-12-myaccount.html">My Account</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="demo-shop-12-about-us.html">About Us</a>
            </li>
            <li>
                <span class="mmenu-toggle"></span>
                <a href="#">Blog</a>
                <ul>
                    <li><a href="demo-shop-12-blog.html">Blog</a></li>
                    <li><a href="demo-shop-12-blog-post.html">Blog Post</a></li>
                </ul>
            </li>
            <li>
                <a href="demo-shop-12-contact-us.html">Contact Us</a>
            </li>
            <li>
                <a href="#">Buy Porto!</a>
            </li>
        </ul>
    </div>
</div>

<div id="mobile-menu-overlay"></div>