@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@section footerJS{
    <script src="~/Assets/js/cart.js"></script>
}
<div class="container main-container mt-8px">
    <div class="wrapper-container">
        <div class="cart">
            <div class="container">
                <h1 class="h2 heading-primary mt-sm clearfix">
                    <span>Giỏ Hàng Của Bạn</span>
                </h1>
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="cart-table-wrap">
                            <table class="cart-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Giá</th>
                                        <th>Số Lượng</th>
                                        <th>Thành Tiền</th>
                                    </tr>
                                </thead>
                                <tbody id="cartBody">

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="clearfix">
                                            <button class="btn btn-default hover-primary btn-continue" id="btnContinue">Tiếp Tục Mua Hàng</button>
                                            <button class="btn btn-default hover-primary btn-update" id="btnUpdateCart">Cập Nhật Giỏ Hàng</button>
                                            <button class="btn btn-default hover-primary btn-clear" id="btnDeleteAll">Xóa Giỏ Hàng</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <aside class="col-md-4 col-lg-3 sidebar shop-sidebar">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#panel-cart-total">
                                            Tổng Tiền
                                        </a>
                                    </h4>
                                </div>
                                <div id="panel-cart-total" class="accordion-body collapse in">
                                    <div class="panel-body">
                                        <table class="totals-table">
                                            <tbody>
                                                <tr>
                                                    <td>Tổng Tiền</td>
                                                    <td>
                                                        <span id="totalAmount"></span> <span class="text-primary">VNĐ</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="totals-table-action">
                                            <a href="#" class="btn btn-primary btn-block" id="btnCheckout">Tiền Hành Thành Toán</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="container" id="checkout" style="display:none;">
                <h1 class="h2 heading-primary mt-sm mb-md clearfix">
                    Thanh Toán
                </h1>

                <div class="row">
                    <form method="POST" id="frmCheckout">
                        <div class="col-md-8">
                            <div class="form-col">
                                <h3>Thông Tin Mua Hàng</h3>

                                <div class="checkbox mb-sm">
                                    <label>
                                        <input type="checkbox" id="chkUserLoginInfo" value="1">
                                        Sử dụng thông tin đăng nhập
                                    </label>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label>Họ Tên</label>
                                            <input type="text" class="form-control" id="txtName" name="txtName" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label>Địa Chỉ</label>
                                            <input type="text" class="form-control" id="txtAddress" name="txtAddress" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group wide">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="txtEmail" name="txtEmail" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group wide">
                                            <label>Điện Thoại</label>
                                            <input type="text" class="form-control" id="txtPhone" name="txtPhone" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label>Ghi Chú</label>
                                            <textarea rows="5" class="form-control" style="resize: none;" id="txtMessage" name="txtMessage"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-col">
                                <h3>Xác Nhận Thanh Toán</h3>

                                <div>
                                    <h5>Tổng Tiền <span id="totalAmountTwo">0 </span> VNĐ</h5>
                                    <a href="#" class="btn btn-primary" id="btnFinishCheckout">Thanh Toán</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="tplCart" type="x-tmpl-mustache">
    <tr>
        <td class="product-action-td">
            <a href="javascript:" title="Remove product" class="btn-remove btnDeleteItem" data-id="{{ ProductId }}"><i class="fa fa-times"></i></a>
        </td>
        <td class="product-image-td">
            <a href="#" title="{{ ProductName }}">
                <img src="{{ ProductImage }}" alt="{{ ProductName }}">
            </a>
        </td>
        <td class="product-name-td">
            <h2 class="product-name"><a href="#" title="{{ ProductName }}">{{ ProductName }}</a></h2>
        </td>
        <td>{{ ProductPriceF }} <span class="text-primary">VNĐ</span></td>
        <td>
            <div class="qty-holder">
                <a href="#" class="qty-dec-btn" data-id="{{ ProductId }}" data-price="{{ ProductPrice }}" title="Giảm 1 Sản Phẩm">-</a>
                <input type="text" disabled data-id="{{ ProductId }}" data-price="{{ ProductPrice }}" class="qty-input qty-input-{{ ProductId }}" value="{{ ProductQuantity }}">
                <a href="#" class="qty-inc-btn" data-id="{{ ProductId }}" data-price="{{ ProductPrice }}" title="Tăng 1 Sản Phẩm">+</a>
            </div>
        </td>
        <td>
            <span class="text-primary amount-{{ ProductId }}">{{ ProductTotal }}</span> <span class="text-primary">VNĐ</span>
        </td>
    </tr>
</script>