@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@model Ecommerce.Web.Models.HomeViewModel
<div class="container">
    <div class="home-slider-container">
        <div class="col-md-9 col-md-offset-3">
            <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                @foreach (var slide in Model.Slides)
                {
                    <div class="home-slide">
                        <img src="@slide.Image" alt="@slide.Name">
                        <div class="home-slide-content">
                            @Html.Raw(slide.Content)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="homepage-bar">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-truck bar-icon"></i>
                <div class="bar-textarea">
                    <h3>FREE SHIPPING &amp; RETURN</h3>
                    <p>Free shipping on all orders over $99.</p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-dollar bar-icon"></i>
                <div class="bar-textarea">
                    <h3>MONEY BACK GUARANTEE</h3>
                    <p>100% money back guarantee.</p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-support bar-icon"></i>
                <div class="bar-textarea">
                    <h3>ONLINE SUPPORT 24/7</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="home-products-container">
        <ul class="products-grid columns4">
            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product1.jpg" alt="Product Name">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        <div class="product-label"><span class="discount">-10%</span></div>
                        <div class="product-label"><span class="new">New</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Noa Sheer Blouse</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:60%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="old-price">$99.00</span>
                            <span class="product-price">$89.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product2.jpg" alt="Product Name">
                            <img src="/Assets/images/demos/shop/products/shop10/product2-2.jpg" alt="Product Name" class="product-hover-image">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        <div class="product-label"><span class="discount">-25%</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Women Fashion Blouse</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:0%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="old-price">$120.00</span>
                            <span class="product-price">$90.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product3.jpg" alt="Product Name">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Dress</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:60%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="product-price">$70.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product4.jpg" alt="Product Name">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        <div class="product-label"><span class="discount">-20%</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Sweater</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:80%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="old-price">$100.00</span>
                            <span class="product-price">$90.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product5.jpg" alt="Product Name">
                            <img src="/Assets/images/demos/shop/products/shop10/product5-2.jpg" alt="Product Name" class="product-hover-image">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        <div class="product-label"><span class="new">New</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Jacket</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:20%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="product-price">$230.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product6.jpg" alt="Product Name">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        <div class="product-label"><span class="discount">-20%</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Blue Denim Jeans</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:100%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="old-price">$220.00</span>
                            <span class="product-price">$180.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product7.jpg" alt="Product Name">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Black top</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:0%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="product-price">$60.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                            <img src="/Assets/images/demos/shop/products/shop10/product8.jpg" alt="Product Name">
                            <img src="/Assets/images/demos/shop/products/shop10/product8-2.jpg" alt="Product Name" class="product-hover-image">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        <div class="product-label"><span class="new">New</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Pink Fashion Dress</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:60%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="product-price">$90.00</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="banner-container">
        <a href="#" class="banner">
            <img src="/Assets/images/demos/shop/banners/shop12/banner1.jpg" alt="Banner">
        </a>
    </div>
</div>

<div class="one-product-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="one-product">
                    <h3>FEATURED</h3>

                    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-1.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                                <div class="product-label"><span class="new">New</span></div>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Noa Sheer Blouse</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="product-price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-1-2.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Woman Blouse</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="old-price">$99.00</span>
                                    <span class="product-price">$89.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-1-3.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">White Fashion Blouse</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="product-price">$120.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="one-product">
                    <h3>Sales</h3>

                    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-2.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Short-Pink</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="product-price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-2-2.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                                <div class="product-label"><span class="discount">-25%</span></div>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Blouse</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="old-price">$99.00</span>
                                    <span class="product-price">$89.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-2-3.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Sweater</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="product-price">$120.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="one-product">
                    <h3>New Arrivals</h3>

                    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-3.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                                <div class="product-label"><span class="new">New</span></div>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Short-White</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="product-price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-3-2.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Black Blouse</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="old-price">$99.00</span>
                                    <span class="product-price">$89.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-image-area">
                                <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                                    <img src="/Assets/images/demos/shop/products/shop10/product-slide-3-3.jpg" alt="Product Name">
                                </a>

                                <a href="#" class="product-quickview">
                                    <i class="fa fa-share-square-o"></i>
                                    <span>Quick View</span>
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Blouse</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="width:60%"></div>
                                    </div>
                                </div>

                                <div class="product-price-box">
                                    <span class="product-price">$120.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="banners-container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop10/banner1.jpg" alt="Banner">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop10/banner2.jpg" alt="Banner">
                </a>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop10/banner3.jpg" alt="Banner">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop10/banner4.jpg" alt="Banner">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="home-products-carousel-container">
        <h2 class="slider-title">
            <span class="inline-title">FASHION SELECTION</span>
        </h2>

        <div class="owl-carousel owl-theme manual home-products-carousel">
            <div class="product">
                <figure class="product-image-area">
                    <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                        <img src="/Assets/images/demos/shop/products/shop10/product2.jpg" alt="Product Name">
                        <img src="/Assets/images/demos/shop/products/shop10/product2-2.jpg" alt="Product Name" class="product-hover-image">
                    </a>

                    <a href="#" class="product-quickview">
                        <i class="fa fa-share-square-o"></i>
                        <span>Quick View</span>
                    </a>
                    <div class="product-label"><span class="discount">-10%</span></div>
                    <div class="product-label"><span class="new">New</span></div>
                </figure>
                <div class="product-details-area">
                    <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Noa Sheer Blouse</a></h2>
                    <div class="product-ratings">
                        <div class="ratings-box">
                            <div class="rating" style="width:60%"></div>
                        </div>
                    </div>

                    <div class="product-price-box">
                        <span class="old-price">$99.00</span>
                        <span class="product-price">$89.00</span>
                    </div>

                    <div class="product-actions">
                        <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Add to Cart</span>
                        </a>
                        <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product">
                <figure class="product-image-area">
                    <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                        <img src="/Assets/images/demos/shop/products/shop10/product2.jpg" alt="Product Name">
                    </a>

                    <a href="#" class="product-quickview">
                        <i class="fa fa-share-square-o"></i>
                        <span>Quick View</span>
                    </a>
                    <div class="product-label"><span class="discount">-25%</span></div>
                </figure>
                <div class="product-details-area">
                    <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Women Fashion Blouse</a></h2>
                    <div class="product-ratings">
                        <div class="ratings-box">
                            <div class="rating" style="width:0%"></div>
                        </div>
                    </div>

                    <div class="product-price-box">
                        <span class="old-price">$120.00</span>
                        <span class="product-price">$90.00</span>
                    </div>

                    <div class="product-actions">
                        <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Add to Cart</span>
                        </a>
                        <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product">
                <figure class="product-image-area">
                    <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                        <img src="/Assets/images/demos/shop/products/shop10/product3.jpg" alt="Product Name">
                    </a>

                    <a href="#" class="product-quickview">
                        <i class="fa fa-share-square-o"></i>
                        <span>Quick View</span>
                    </a>
                </figure>
                <div class="product-details-area">
                    <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Dress</a></h2>
                    <div class="product-ratings">
                        <div class="ratings-box">
                            <div class="rating" style="width:60%"></div>
                        </div>
                    </div>

                    <div class="product-price-box">
                        <span class="product-price">$70.00</span>
                    </div>

                    <div class="product-actions">
                        <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Add to Cart</span>
                        </a>
                        <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product">
                <figure class="product-image-area">
                    <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                        <img src="/Assets/images/demos/shop/products/shop10/product4.jpg" alt="Product Name">
                    </a>

                    <a href="#" class="product-quickview">
                        <i class="fa fa-share-square-o"></i>
                        <span>Quick View</span>
                    </a>
                    <div class="product-label"><span class="discount">-20%</span></div>
                </figure>
                <div class="product-details-area">
                    <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Fashion Sweater</a></h2>
                    <div class="product-ratings">
                        <div class="ratings-box">
                            <div class="rating" style="width:80%"></div>
                        </div>
                    </div>

                    <div class="product-price-box">
                        <span class="old-price">$100.00</span>
                        <span class="product-price">$90.00</span>
                    </div>

                    <div class="product-actions">
                        <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Add to Cart</span>
                        </a>
                        <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product">
                <figure class="product-image-area">
                    <a href="demo-shop-12-product-details.html" title="Product Name" class="product-image">
                        <img src="/Assets/images/demos/shop/products/shop10/product5.jpg" alt="Product Name">
                    </a>

                    <a href="#" class="product-quickview">
                        <i class="fa fa-share-square-o"></i>
                        <span>Quick View</span>
                    </a>
                </figure>
                <div class="product-details-area">
                    <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">Woman Shee Blouse</a></h2>
                    <div class="product-ratings">
                        <div class="ratings-box">
                            <div class="rating" style="width:0%"></div>
                        </div>
                    </div>

                    <div class="product-price-box">
                        <span class="product-price">$70.00</span>
                    </div>

                    <div class="product-actions">
                        <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Add to Cart</span>
                        </a>
                        <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

